@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: rgba(231, 231, 248, 0.671); 
}

header {
    display: block;
    margin-bottom: 10px;
    font-size: xx-large;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 5px 0;
}

select {
    width: 150px;
    padding: 5px;
    margin: 5px 0;
}

.result{
    font-size: large;
    display: flex;
    align-items: center;
}
.popupButton{
    border-color: rgb(172, 168, 168,0.4);
    background: none;
    font-size: x-small;
}
.popupButton:hover{
    background: rgba(167, 167, 233, 0.2);
}
.copyButton{
    margin-left: 10px;
}
.add-new-button{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Popup container */
.popup-container button {
    padding: 8px 16px; 
    font-size: 14px; 
    margin-top: 30px; 
}

/* Popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    height: 50%;
    overflow: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.popup-container label,
.popup-container input {
    text-align: center;
    /* width: fit-content; */
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
.helpButtons button{
    margin-top: 10px;
    border: none;
    background: none;
    font-size: xx-large;
}
.copyButton:hover{
    color: blue;
}
.listButton:hover{
    color: rgb(255, 0, 0);
}

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    max-height: 0px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: blue;
    color: #ffffff;
} 
.copyListButton{
    margin-left: 10px;
    border: none;
    background: none;
    font-size: large;
    color: white;
}
.copyListButton:hover{
    color: rgb(94, 255, 1);
}